@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&display=swap');


/*font-family: 'Anton', sans-serif;
font-family: 'Pacifico', cursive; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    color: white !important;
}


body.evening {
    background: linear-gradient(0deg, rgba(147,0,217,1) 10%, rgba(36,0,255,1) 43%, rgba(57,156,176,1) 100%);
}

body.morning {
    background: linear-gradient(0deg, rgb(184, 217, 0) 10%, rgb(255, 208, 0) 43%, rgb(134, 176, 57) 100%);

}




.location, .temperature{
    height: 35vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location h1{
    font-size: 5rem;
}

.temperature{
    flex-direction: column;
    font-family: sans-serif;
    margin-top: 30px;
    cursor: pointer;
}

.current-temperature{
    display: flex;
    align-items: center;
}

.morning{
    color: black;
}

.evening{
    color: gold;
}



.unit{
    margin: 15px;
    font-size: 4rem;
}



.degree{
    font-size: 5rem;
}

.weather-state{
    margin-top: 40px;
    font-size: 2rem;
    font-family: 'Pacifico', cursive;;
}

#comma{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#deg{
    font-size: 4rem;
}


.feels{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feels_temp{
    margin:10px;
}




/* Adding media query */

@media only screen and (max-width: 600px) {
    
    .location h1{
        font-size: 3rem;
    }

}
